<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venta Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script type="text/javascript" charset="utf8"
            src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<div class="container text-center">
    <label class="form-label text-center fs-1 fw-bold">TICKETS EVENTOS</label>
    <br>
    <div class="table">
        <table class="table table-striped table-hover pad" style="text-align:center;">
            <thead>
            <tr>
                <th scope="col">AÑADIR</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">FECHA</th>
                <th scope="col">TIPO</th>
                <th scope="col">PAGOS</th>
                <th scope="col">PRECIO</th>
                <th scope="col">AÑO CARNAVAL</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="eventosList : ${eventos}">
                <td>
                    <a th:href="@{/SeleticketEvento/{id}/{ano}(id=${eventosList.id}, ano=${eventosList.ano_carnaval.ano})}"
                       style="background-color: #00FFFD; border-color: #00FFFD; color: #000;font-weight: bolder;"
                       class="btn btn-primary">seleccionar </a>
                </td>
                <td th:text="${eventosList.nombre}"></td>
                <td th:text="${eventosList.fecha}"></td>
                <td th:text="${eventosList.tipo}"></td>
                <td th:text="${eventosList.pago}"></td>
                <td th:text="${eventosList.costo}"></td>
                <td th:text="${eventosList.ano_carnaval.ano}"></td>
            </tr>
            </tbody>
        </table>

        <h3 th:unless="${eventos.size}">No hay eventos</h3>
    </div>
</div>
</body>
</html>