<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Venta Ticket</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<div class="container min-vh-100 d-flex justify-content-center align-items-center">
    <div>
        <label class="form-label text-center fs-1 fw-bold">TICKET EVENTO</label>
        <form class="row g-3" action="" id="SeleTicketEvento" method="post" th:each="eventoEspecifico : ${eventoEspecifico}"
              th:object="${ticketEvento}">
            <div>
                <div class="input-group">
                    <span class="input-group-text">Año Carnaval</span>
                    <input class="form-control" id="ano" disabled type="text"
                           th:value="${eventoEspecifico.ano_carnaval.ano}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Fecha Evento</span>
                    <input class="form-control" id="fechaEvento" disabled type="text"
                           th:value="${eventoEspecifico.fecha}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Nombre</span>
                    <input class="form-control" id="nombre" disabled type="text" th:value="${eventoEspecifico.nombre}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Fecha Emisión</span>
                    <input class="form-control" id="fechaEmision" type="date" th:field="*{fecha_emision}" required>

                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Hora Emisión (HH:MM)</span>
                    <input class="form-control" id="horaEmision" type="text" th:field="*{hora_emision}" required
                           pattern="^([01]?[0-9]|2[0-3]):[0-5][0-9](:[0-5][0-9])?$">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Tipo Evento</span>
                    <input class="form-control" id="tipo" disabled type="text" th:value="${eventoEspecifico.tipo}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Tipo Audiencia</span>
                    <input class="form-control" id="tipo_audiencia" disabled type="text"
                           th:value="${eventoEspecifico.tipo_audiencia}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Pago</span>
                    <input class="form-control" id="pago" disabled type="text" th:value="${eventoEspecifico.pago}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Lugar Evento</span>
                    <input class="form-control" id="lugar_evento" disabled type="text"
                           th:value="${eventoEspecifico.id_lugar_evento.nombre}">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Descripción</span>
                    <textarea class="form-control" id="descripcion" disabled
                              th:text="${eventoEspecifico.descripcion}"></textarea>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-text">Precio</span>
                    <input class="form-control" id="precio" disabled type="text" th:value="${eventoEspecifico.costo}">
                </div>
            </div>
            <div>
                <script>
                    function validarTicketEvento(fecha, nombre){
                        var conf = 0;
                        var fechaEmision = document.getElementById('fechaEmision').value;
                        var fechaEvento = fecha.toString();
                        var nombreEvento = nombre.toString();
                        var anoEmision = parseInt(fechaEmision.substr(0,4));
                        var anoEvento = parseInt(fechaEvento.substr(0,4));
                        var mesParseIntFEmision = parseInt(fechaEmision.substr(5,2));
                        var diaParseIntFEmision = parseInt(fechaEmision.substr(8,2));
                        var mesParseIntFEvento = parseInt(fechaEvento.substr(5,2));
                        var diaParseIntFEvento = parseInt(fechaEvento.substr(8,2));

                        if(fechaEmision==""){
                            alert('La fecha no puede estar vacia');
                            conf = 1;
                        }
                        else if(anoEmision == anoEvento && conf==0){
                            if(mesParseIntFEmision == mesParseIntFEvento){
                                if(diaParseIntFEmision > diaParseIntFEvento){
                                    alert('La fecha de emisión debe ser antes del evento');
                                    conf = 1;
                                }
                            }else if(mesParseIntFEmision > mesParseIntFEvento ){
                                alert('La fecha de emisión debe ser antes del evento');
                                conf = 1;
                            }else{
                                conf = 0;
                            }
                        }else if(anoEmision > anoEvento && conf==0){
                           alert('La fecha de emisión debe ser antes del evento');
                           conf = 1;
                        }else{
                            conf = 0;
                        }

                        var horaEmision = document.getElementById('horaEmision').value;
                        var rex=/^([0-9][0-9]):[0-5][0-9]$/;
                        if (conf==0){
                            if(!rex.test(horaEmision) || Number(horaEmision.substr(0,2))>24){
                                alert('la hora tiene que tener el formato HH:MM');
                                conf=1;
                            }
                        }

                        if(conf==0){
                            var resultado = confirm("Seguro que Quiere Guardar El Ticket Evento: "+nombreEvento+"?");
                            if(resultado){
                                horaEmision=horaEmision+":00";
                                horaPre=document.getElementById("horaEmision").value;
                                document.getElementById("horaEmision").value=horaEmision;
                                document.getElementById("SeleTicketEvento").submit();
                                document.getElementById("horaEmision").value=horaPre;
                            }

                        }
                    }

                </script>

                <a style="padding: 10PX;" th:href="@{/EventosTicket/{ano}(ano=${eventoEspecifico.ano_carnaval.ano})}"
                   class="btn btn-primary">
                    Volver
                </a>
                <button style="padding: 10px;" class="btn btn-primary" type="button" th:onclick="validarTicketEvento([[(${eventoEspecifico.fecha})]], [[(${eventoEspecifico.nombre})]])">
                    Guardar Ticket
                </button>
                <br>
                <br>
                <br>
            </div>
        </form>
    </div>
</div>
</body>
</html>